/* Schadcode - Sternselector mit Vorsicht zu genießen*/


/*************
*** Global ***
*************/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

body {
    height: 100%;
}

.content {
    padding: 100px 50px;
}

.download-btn {
    display: inline-block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    background-color: #e74c3c;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: background-color 300ms;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.download-btn:hover {
    background-color: #fff;
    color: #ccc;
}

.download-btn a {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.1);
    z-index: 1;
}

.clearfix {
    clear: both;
}

.main-container {
    position: relative;
    top: 100%;
    background-color: #3498db;
    z-index: 3;
}


/**********************
*** Support Wrapper ***
**********************/

#support-wrapper {
    position: fixed;
    top: 50px;
    right: -210px;
    width: 210px;
    background-color: #e74c3c;
    color: #fff;
    z-index: 9999;
    padding: 25px;
    box-sizing: border-box;
    transition: all 500ms;
}

#support-wrapper .support-btn {
    transform: rotate(-90deg);
    position: absolute;
    left: -61px;
    top: 18px;
    padding: 10px;
    background-color: #e74c3c;
}

#support-wrapper:hover{
    right: 0;
}

/**********************
**** Start Wrapper ****
**********************/

#start-wrapper {
    width: 100%;
    height: 100%;
    /* Standard farbe falls bild nicht geladen werden kann, bild, verankerung auf mittig (mittlerere Bildausschnitt)*/
    background: #000 url(../img/background.jpg) center center;
    background-size: cover;
    padding-top: 15%;
    box-sizing: border-box;
    position: fixed;
}

#start-wrapper .content {
    text-align: center;
    position: relative;
    z-index: 2;
}

#start-wrapper .content h1 {
    font-size: 4.0rem;
    line-height: 1.0em;
    margin-bottom: 50px;
}

#start-wrapper .content p {
    font-size: 0.8rem;
    line-height: 1.0em;
    margin-top: 10px;
}


/***************************
**** Navigations Wrapper ***
***************************/

#nav-wrapper {
    margin-top: -60px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    z-index: 4;
}

#nav-wrapper nav ul li {
    /*Bezugspunkt für den Hover Balken schaffen*/
    position: relative;
    float: left;
    width: 25%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    list-style: none;
    margin: 15px 0;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

#nav-wrapper nav ul li:last-of-type {
    border-right: none;
}

#nav-wrapper nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

#nav-wrapper nav ul li .nav-hover {
    height: 0px;
    width: 100%;
    background-color: #e74c3c;
    position: absolute;
    top: -15px;
    left: 0;
    transition: height 250ms;
}

#nav-wrapper nav ul li:hover .nav-hover {
    height: 5px;
}


/***************************
****** Inhalts Wrapper *****
***************************/

#info-wrapper .info-divider {
    position: relative;
    height: 420px;
    background: #000 url("../img/background2.jpg") center center no-repeat;
    background-size: cover;
}

#info-wrapper .content p {
    width: 50%;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.4em;
    display: inline-block;
    color: #fff;
}

#info-wrapper .content:last-of-type {
    text-align: right;
}