//main: style.less

/*----------------------
        Content
----------------------*/

#support-wrapper {
    position: fixed;
    top: 50px;
    right: -210px;
    width: 210px;
    background-color: @interactionColor;
    color: #fff;
    z-index: 9999;
    padding: 25px;
    box-sizing: border-box;
    .transition(right 500ms);
    h2 {
        font-size: 1rem;
        font-weight: 600;
    }
    .support-btn {
        .rotate(-90deg);
        position: absolute;
        left: -61px;
        top: 18px;
        padding: 10px;
        background-color: @interactionColor;
    }
    &:hover {
        right: 0;
    }
}

#start-wrapper {
    width: 100%;
    height: 100%;
    /* Standard farbe falls bild nicht geladen werden kann, bild, verankerung auf mittig (mittlerere Bildausschnitt)*/
    background: #000 url(../img/background.jpg) center center;
    background-size: cover;
    padding-top: 15%;
    box-sizing: border-box;
    position: fixed;
    .content {
        text-align: center;
        position: relative;
        z-index: 2;
        h1 {
            font-size: 4.0rem;
            line-height: 1.0em;
            margin-bottom: 50px;
        }
        p {
            font-size: 0.8rem;
            line-height: 1.0em;
            margin-top: 10px;
        }
    }
}

#nav-wrapper {
    margin-top: -60px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    z-index: 4;
    nav {
        ul {
            .clearfix();
            li {
                /*Bezugspunkt für den Hover Balken schaffen*/
                position: relative;
                float: left;
                width: 25%;
                height: 30px;
                line-height: 30px;
                text-align: center;
                list-style: none;
                margin: 15px 0;
                border-right: 1px solid #000;
                box-sizing: border-box;
                &:last-of-type {
                    border-right: none;
                }
                &:hover {
                    .nav-hover {
                        height: 5px;
                    }
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .nav-hover {
                    height: 0px;
                    width: 100%;
                    background-color: @interactionColor;
                    position: absolute;
                    top: -15px;
                    left: 0;
                    .transition(height 250ms);
                }
            }
        }
    }
}

#info-wrapper {
    .info-divider {
        position: relative;
        height: 420px;
        background: #000 url("../img/background2.jpg") center center no-repeat;
        background-size: cover;
    }
    .content {
        p {
            width: 50%;
            text-align: left;
            font-size: 1.5rem;
            line-height: 1.4em;
            display: inline-block;
            color: #fff;
        }
        &:last-of-type {
            text-align: right;
        }
    }
}

#pricing-wrapper {
    background-color: @secondaryColor;
    color: @mainWhite;
    text-align: center;
    .content {
        .clearfix();
        max-width: 1000px;
        margin: 0 auto;
        article {
            float: left;
            // Sums up to 96% with 3 Elements
            width: 32%;
            // Use on 2 first elements
            margin-right: 2%;
            // Deletes Margin on last element
            &:last-child {
                margin-right: 0;
            }
            div {
                height: 75px;
                margin-bottom: 20px;
                //Bezogen auf den DIV container mit der klasse education
                &.education {
                    background: @secondaryColor url(../img/education.png) center center no-repeat;
                }
                &.advanced {
                    background: @secondaryColor url(../img/advanced.png) center center no-repeat;
                }
                &.premium {
                    background: @secondaryColor url(../img/premium.png) center center no-repeat;
                }
            }
            h3 {
                font-size: @mediumFontSize;
                margin-bottom: 10px;
            }
            p {
                font-size: @smallFontSize;
                line-height: @lineHeight;
                padding: 25px;
                min-height: 100px;
                &:last-child {
                    height: auto;
                    font-size: @mediumFontSize + 1;
                    line-height: 1.0em;
                    border-top: 1px solid @mainWhite;
                    display: inline-block
                }
                &::selection {
                    color: greenyellow;
                    background-color: black;
                    text-shadow: 0.5px 0.5px #aaa;
                }
            }
        }
    }
}

#buy-wrapper {
    .content {
        text-align: center;
        h2 {
            font-size: @mediumFontSize;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        ul {
            list-style: none;
            margin-bottom: 75px;
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .download-btn {
            &:hover {
                border: 1px solid @mainBlack;
            }
        }
    }
}

#footer-wrapper {
    text-align: center;
    padding: 50px;
    border-top: 1px solid lighten(@mainBlack, 80%);
    nav {
        ul {
            list-style: none;
            li {
                //Vorteil: Wird zusammen mti dem text zentriert, 
                //Nachteil: hat einen nicht definierbaren abstand von element zu element
                display: inline-block;
                width: 47px;
                height: 47px;
                background: indianred url(../img/sprite.png) no-repeat;
                margin-right: 10px;
                // Macht das Element kreisrund
                border-radius: 50%;
                .transition(all 250ms);
                &:last-child {
                    margin-right: 0;
                }
                &.facebook {
                    background-position: -13px -17px;
                    background-color: #3b5998;
                    &:hover {
                        background-position: -13px -58px;
                    }
                }
                &.youtube {
                    background-position: -53px -18px;
                    background-color: #cd201f;
                    &:hover {
                        background-position: -53px -59px;
                    }
                }
                &.twitter {
                    background-position: -104px -17px;
                    background-color: #55acee;
                    &:hover {
                        background-position: -104px -58px;
                    }
                }
                &:hover {
                    background-color: @mainWhite ;
                }
                a {
                    // Blockelement damit sich höhe und breite einstellen lassen. Sosnt orientiert sich das  am inhalt und ein inhalt ist derzeit nicht verfügbar
                    display: block;
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }
    nav + p {
        margin-top: 25px;
        font-weight: 400;
    }
}
